<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Post</title>
  <link rel="stylesheet" href="/form.css">
  <script src="script.js" defer></script>
</head>

<body>
  <form method="post" action="/posts">
    <div>Create New Post</div>
    <div>
      <input type="text" placeholder="Your Full Name" name="name">
      <i class="fa-regular fa-user"></i>
    </div>
    <div>
      <input type="email" placeholder="Email" name="email">
      <i class="fa-regular fa-envelope"></i>
    </div>
    <textarea placeholder="Write your text here" name="tweet"></textarea>
    <button>Submit</button>
  </form>
</body>
<script src='https://kit.fontawesome.com/8e5e768940.js' crossorigin='anonymous'></script>

</html>